extend componentes/plantilla.pug
block contenidos
    main 
        include componentes/aside.pug
        section.intro        
            .intro__contenido
                h2 #{titulos[0]}
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam laboriosam molestiae provident ab quia quo perferendis similique suscipit nemo veritatis modi rem aliquid ut.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, earum consectetur consequuntur recusandae odio nobis aut minus architecto consequatur, incidunt sequi dolorem, ullam quasi. Adipisci, soluta.   	
                a.boton Leer Mas